.cv-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 3rem;
}

.cv-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}


.cv-header-row h1 {
    font-size: 4.2rem;
    color: var(--color-font-primary);
    margin: 0;
}

.cv-download-btn {
    padding: 0.8rem 1.6rem;
    background: var(--color-primary-accent);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: background 0.2s ease;
}

.cv-download-btn:hover {
    background: #646cff;
}


.cv-preview {
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}