#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.site-header {
    padding: 1rem 2rem;
    text-align: center;
}

.link-header {
    margin-right: 16px;
    text-decoration: none;
}