.header-container {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-header {
    padding: 1rem 3rem;
    margin: 1.25rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.link-header {
    color: var(--color-font-primary);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

.link-header:hover {
    color: #646cff;
}

.logo {
    font-weight: 400;
    line-height: 0.8;
    font-size: 1rem;
}

.cv-link {
    font-weight: 600;
    font-size: 1.25rem;
}