@import "tailwindcss";

:root {
  /* ---colors--- */
  --color-font-primary: rgb(255, 255, 255);
  --color-primary-accent: #D05353;

  background-color: #242424;

  /* ---typopgraphy--- */
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ---global reset--- */
body {
  margin: 0;
}


/* ---font face--- */
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') 
      format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}