/* variables for the css styling */

:root {
  /* ---colors--- */
    --color-font-primary: rgb(255, 255, 255);
    --color-primary-accent: #D05353;
    background-color: #242424;

  /* ---fonts--- */
    font-family: "Satoshi", sans-serif;

  /* ---font size--- */
    font-size: 16px;

  /* ---font weight--- */
    font-weight: 400;

  /* ---line height--- */
    line-height: 1.5;

  /* ---letter spacing--- */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---global styles--- */

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.spacer {
  height: 10rem;
}

/* ---fonts--- */

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}