@import "tailwindcss";

:root {
  /* ---colors--- */
  --color-font-primary: rgb(255, 255, 255);
  --color-primary-accent: #D05353;
  --color-text-primary: #C3C3C3;

  background-color: #242424;

  /* ---typopgraphy--- */
  --font-family-primary: "Satoshi", sans-serif;
  --font-family-title: "Anton", sans-serif;

  
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ---global reset--- */
body {
  margin: 0;
}

h1 {
  font-family: var(--font-family-title);
}

h2 {
  font-family: var(--font-family-title);
}


/* ---font face--- */
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') 
      format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('./assets/fonts/Anton/Anton-Regular.ttf') 
      format('truetype');
  font-display: swap;
  font-style: normal;
}